li:hover{
    border-bottom: 2px dotted black;
}
.card{
    width: 16rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

#ResultLine {
  display: none;
}